li {
    display: block;
    position: relative;
    width: 150px;
    border-radius: 10px;
}

ul.sous_menu {
    display: none; 
}

li:hover>ul.sous_menu {
    display: block;
    position: absolute;
    top: -10px;
    left: 80%;
}

a{
    cursor:pointer;
    text-decoration: none;
    color: white;
}

.box_color:hover {
    color: rgb(0,255,255);
    background-color: rgba(0,0,255,0.2) ; 
}

.box_ui{
    width: 150px;
    border-radius: 10px;
    padding: 8px;
    margin: 10px;
    margin-left: 0px;
    font-size: 16px;
    text-align: left;
    user-select: none;
    text-decoration: none;
    background-color: rgba(0,0,0,0.1) ;
    color: white;
    display: block;
    font-family:arial;
}

.avec_sous_menu {
    float: right;
    padding: 3px;
    padding-right: 0px;
}

.icon{
    float: left;
    height: 18px;
    margin-right: 2px;
}

.titre{
    font-size: 40px;
    color: white;
    font-weight: bolder;
    padding-left: 15px;
}

.menu{
    margin-left: -25px; 
}